---
layout: default
---
<html>
<head>
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link href="http://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
</head>

<div class="page clearfix" post>
    <div class="left">
        <h4>读书的意义大概就是用生活所感去读书，用读书所得去生活。——杨绛</h4>
		<h4>读书不是为了雄辩和驳斥，也不是为了轻信和盲从，而是为了思考和权衡。——培根</h4>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
			<p></p>
			<div class="side">
                <div>
				<i class="fa fa-heart" aria-hidden="true"></i>
                    推荐
                </div>
                <ul id="content-side" class="content-ul">
					<li>《你当像鸟飞往你的山》</li>
					<li>《穆斯林的葬礼》</li>
					
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
			
			
			
			
        </div>
    </div>
</div>








<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>


</html>