---
layout: default
---
<html>
<head>
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
			<p></p>
			<div class="side">
                <div>
				<i class="fa fa-heart" aria-hidden="true"></i>
                    推荐
                </div>
                <ul id="content-side" class="content-ul">
					<li>《你当像鸟飞往你的山》</li>
					<li>《穆斯林的葬礼》</li>
					
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
			
			
			
			
        </div>
    </div>
</div>








<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>

</html>